.price{
	font-size: 80px;
}

		.slides,
		.slides p {
			font-family: 'Nunito', sans-serif;
			font-weight: 300;
		}
		.slides h1, 
		.slides h2, 
		.slides h3, 
		.slides h4, 
		.slides h5, 
		.slides h6 {
			font-family: 'Nunito', sans-serif;
			font-weight: 300;
		}
		.slides .button,
		.slides .slides-form {
			font-family: 'Helvetica', sans-serif;
			font-weight: 600;
		}


.stabelbg {
	background-image:url(../assets/img/stabel1.jpg);
	background-position:right !important;
	background-repeat:no-repeat !important;
	background-size:contain !important;
}

@media (min-width: 1px) and (max-width: 1199px) {

      .stabelbg {
        background-image: none !important;
    }

}